{% extends 'base.html.twig' %}

{% block body %}

<div  class="container">
<h1>Add New Brand </h1>
<br>
<a href="{{path('app_brand_management')}}"><button type="button" class="btn text-light" style="background-color: rgb(255,105,180);">Back to index</button></a>
    {{ form_start(form) }}
    {{ form_widget(form) }}
    {{ form_end(form) }}
</div>
{% endblock %}